# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
TestResults/
[Dd]ebug/
[Rr]elease/
.nuget/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Ansible
ansible/vars/secrets.yml
*.retry
